html, body{
    margin: 0;
    padding: 0;
}
html,body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    background-color: white;
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    
}
label{
    text-align: left;
}

input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: left;
}

input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}
h2 {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    margin-bottom: 2cm;
    text-align: center;
    background-color: darkturquoise;
    margin-left: 3cm;
    margin-right: 3cm;
}

.tombolReg{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: 0;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.tombolReg:hover{
    opacity: 1;
}

a {
    color: dodgerblue;
}



